.vscode

*.lis
*.o
*.img
*.err
*.def
*.com
bin
*.sym

hbios.asm
main.asm
xstdio.asm
filereader.asm
tokenreader.asm
expr.asm
labels.asm
chartesters.asm
systemstate.asm
stack.asm
instr_output.asm
token_parser.asm
emitters.asm
assembler.asm
test_assembler.asm
error_reports.asm
error.asm
byte_code_executor.asm
test_instruction.asm

